/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
  .gridBlock .fourByGridBlock {
    padding: 10px 10px;
  }
}

@media only screen and (min-width: 1500px) {
}

nav.toc .toggleNav ul li a {
  font-size: 16px;
}

.imageAlignTop .blockImage {
  max-width: 160px;
}

.productShowcaseSection {
  background-color: #ffffff;
}

.productShowcaseSection .logos a {
  margin-left: 15px;
  margin-right: 15px;
}

.productShowcaseSection h2 {
  margin-top: 0;
  padding-top: 40px;
}

.mainContainer .wrapper .post h2 {
  border-bottom: 1px solid #d1d1d1;
}

.container .wrapper h3,
.mainContainer .wrapper .post h3 {
  color: #616161;
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper .projectLogo img {
    height: 150%;
  }
}
